<!-- footer -->
		<footer class="col-md-12">
			<div class="container">
				<p class="text-center"><small>Copyright &copy; Blues Whisper | <a href="mailto:youlansedeninan@outlook.com">Contact</a></small></p>
			</div>
		</footer>