﻿<style type="text/css">
#sidebar .submenu a{
text-align:center; 
}
</style>
<!-- sidebar-menu -->
		<div id="sidebar"class="col-md-2">
			<ul class="nav nav-pills nav-stacked">
				<li><a href="index.jsp">信息概览</a></li>
				<li>
					<a href="#subCurMenu" class="nav-header collapsed" data-toggle="collapse">教学管理</a>
					<ul id="subCurMenu" class="nav nav-pills nav-stacked collapse submenu">
						<li><a href="cur-overview.jsp">开课信息概览</a></li>
						<li><a href="cur-add.jsp">新增开课信息</a></li>
						<li><a href="cur-adjust.jsp">调节开课信息</a></li>
						<li><a href="cur-schedule-overview.jsp">进度填写情况</a></li>
						<li><a href="cur-schedule-audit.jsp">审核教学进度</a></li>
						<li><a href="cur-schedule-switch.jsp">开关进度填写</a></li>
					</ul>
				</li>
				<li>
					<a href="#subTeaMenu" class="nav-header collapsed" data-toggle="collapse">教师管理</a>
					<ul id="subTeaMenu" class="nav nav-pills nav-stacked collapse submenu">
						<li><a href="teacher-info-overview.jsp">浏览教师信息</a></li>
						<li><a href="teacher-info-chg.jsp">修改教师信息</a></li>
						<li><a href="teacher-pwd-reset.jsp">重置教师密码</a></li>
						<li><a href="teacher-add.jsp">新增教师账户</a></li>
					</ul>
				</li>
				<li>
					<a href="#subCouMenu" class="nav-header collapsed" data-toggle="collapse">课程信息</a>
					<ul id="subCouMenu" class="nav nav-pills nav-stacked collapse submenu">
						<li><a href="course-overview.jsp">浏览课程信息</a></li>
						<li><a href="course-chg.jsp">修改课程信息</a></li>
						<li><a href="course-del.jsp">删除课程信息</a></li>
					</ul>
				</li>
				<li>
					<a href="#subOutMenu" class="nav-header collapsed" data-toggle="collapse">课程大纲</a>
					<ul id="subOutMenu" class="nav nav-pills nav-stacked collapse submenu">
						<li><a href="outline-overview.jsp">大纲填写情况</a></li>
						<li><a href="outline-allocate.jsp">分配大纲填写</a></li>
						<li><a href="outline-audit.jsp">审核课程大纲</a></li>
						<li><a href="outline-switch.jsp">开关大纲填写</a></li>
					</ul>
				</li>
				<li><a href="personal-info.jsp">个人信息</a></li>
				<li><a href="../conf/logout.jsp">注销登录</a></li>
			</ul>
		</div>