﻿<style type="text/css">
</style>
<!-- sidebar-menu -->
		<div id="sidebar"class="col-md-2">
			<ul class="nav nav-pills nav-stacked">
				<li><a href="index.jsp">信息概览</a></li>
				<li><a href="schedule.jsp">教学进度</a></li>
				<li><a href="outline.jsp">课程大纲</a></li>
				<li><a href="personal-info.jsp">个人信息</a></li>
				<li><a href="chgpassword.jsp">修改密码</a></li>
				<li><a href="../conf/logout.jsp">注销登录</a></li>
			</ul>
		</div>